<a href="https://colab.research.google.com/github/PaladinMekaela/PLNG211-2-OLFU-QC/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Comment

In [1]:
#This is a comment
print ("Hello, world")

Hello, world

Python Variable

In [5]:
#Single Variable
a = 3
b = -1

a,b = 3,3
a

3

In [12]:
#Multiple Variable
a,b= float(8),-1
print (a)

#string type
c = "mika"
c
c = str('mika')

print (c)
print (c)
print (c)

8.0
mika
mika
mika

Type Function

In [13]:
print (type(c))

<class 'str'>

In [14]:
#Proper Indentation
if 5>2:
  print("5 is greater than 1")

5 is greater than 1

Single and Double Qoute

In [15]:
f= "Jane"
j='Jane'

print(f)
print(j)

Jane
Jane

Multiple Variables

In [16]:
x,y,z = 1,2,3

print (x)
print (y)
print (z)

1
2
3

Single Values to Multiple Variables

In [17]:
x=y=z="python"
print (x)
print (y)
print (z)

python
python
python

Output Variables

In [19]:
x= "fun"
y= "Python Programming is "

print (y + x)

Python Programming is fun

Arithmetic Operations

In [23]:
a = 4%2
print (a)
b = 3//2
print(b)

c= 7
print(c**2)

0
1
49

##Assignment Operations

In [24]:
c = 5 
c+=3
print(c)

8

Comparison Operators

In [25]:
i =5>2
h=3>5
print (i)
print(h)

not (i or h)

True
False

False

Identity Operators

In [26]:
i is not h

True

##Bitwise Operators

In [28]:
v = 10
v<<2
print (v)
y = 2

y>> 1

10

1